<!-- Extend our site layout -->
{% extends "layout.html" %}

<!-- Include our common macro set -->
{% import "macros.jnj" as common %}

<!-- Display a list of emails across a span, as in to/from/cc/bcc/reply_to -->
{% macro display_emails(list) -%}
  {% if list and list is not string %}
    {% for email in list -%}
      {{ display_value(email, 'ARRAY_ELEM') }}
    {% endfor -%}
  {% endif -%}
{% endmacro -%}

<!-- Display a field's value -->
{% macro display_value(record, key) -%}
  {% if record is defined -%}
    {{ record[key] }}
  {% endif -%}
{% endmacro -%}

<!-- Parse a pig tuple being passed through in string format -->

{% block content -%}
  <table class="table table-striped table-bordered table-condensed" style="table-layout: fixed; width: 900px;">
    <thead>
      <th style="width: 25%">From</th>
      <th style="width: 60%">Subject</th>
      <th style="width: 15%">Date</th>
    </thead>
    <tbody>
      {% for email in data['emails'] %}
      <tr>
        <td>{{ display_emails(email['from']) }}</td>
        <td>{{ common.display_link(email['message_id'], '/email', email['subject'])|safe }}</td>
        <td>{{ email['date'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if data.has_key('nav_offsets') and data.has_key('nav_path') -%}
    {{ common.display_nav(data['nav_offsets'], data['nav_path'], data['query'])|safe }}
  {% endif -%}
{% endblock -%}
