<!-- Extend our site layout -->
{% extends "layout.html" %}

<!-- Include our common macro set -->
{% import "macros.jnj" as common %}

<!-- Display a list of emails across a span, as in to/from/cc/bcc/reply_to -->
{% macro display_email_addresses(name, emails) -%}
  <div class="row">
  {% if emails -%}
    {{ display_label(name) }}
    {% if emails is mapping -%}
      {{ common.display_email_address(emails) }}
    {% elif emails is iterable %}
      {% for e in emails -%}
        {{ common.display_email_address(e) }}
      {% endfor -%}
    {% endif -%}
  {% endif -%}
  </div>
{% endmacro -%}

<!-- Parse a pig tuple being passed through in string format -->

{% block content -%}
  <div class="page-header">
    <h1>Analytic Inbox</h1>
  </div>
  <p class="lead">Emails</p>
  <div>
    <table class="table table-striped table-condensed">
      <thead>
        <th>From</th>
        <th>Subject</th>
        <th>Date</th>
      </thead>
      <tbody>
        {% for email in data['emails'] %}
        <tr style="white-space:nowrap;">
          <td>{{ common.display_email_address(email['from']) }}</td>
          <td>{{ common.display_link(email['message_id'], '/email', email['subject'])|safe }}</td>
          <td style="white-space:nowrap;">{{ email['date'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if data.has_key('nav_offsets') and data.has_key('nav_path') -%}
      {{ common.display_nav(data['nav_offsets'], data['nav_path'], data['query'])|safe }}
    {% endif -%}
  </div>
{% endblock -%}
