<!-- Extend our site layout -->
{% extends "layout.html" %}

<!-- Include our common macro set -->
{% import "macros.jnj" as common %}

<!-- Parse a pig tuple being passed through in string format -->

{% block content -%}
  <p class="lead">Emails
  <form class="navbar-search pull-right">
    <input style="font-size: 13pt; height: 25px;" name="search" type="text" class="search-query" placeholder="Search" value="{% if query -%}{{query}} {% endif -%}">
  </form></p>
  <div>
    <table class="table table-striped table-condensed">
      <thead>
        <th>From</th>
        <th>Subject</th>
        <th>Date</th>
      </thead>
      <tbody>
        {% for email in emails %}
        <tr style="white-space:nowrap;">
          <td>{{ common.display_email_address(email['from'])|safe }}</td>
          <td>{{ common.display_link(email['message_id'], '/email', email['subject'])|safe }}</td>
          <td style="white-space:nowrap;">{{ email['date'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if nav_offsets and nav_path -%}
      {{ common.display_nav(nav_offsets, nav_path, query)|safe }}
    {% endif -%}
  </div>
{% endblock -%}
